.item
  background: #f6f6f6
  display: flex
  margin: 20px auto
  padding: 10px
  span
    display: block
  .item-description
    width: 75%
  .item-icon
    padding: 12px
    width: 75px
  .item-row
    border-bottom: 1px dotted #cccccc
    width: 100%
    .item-name
      font-size: 1em
      font-weight: 700
    .item-category
      font-size: 0.7em
  .item-info
    display: flex
    justify-content: space-between
  button
    background: #de1823
    border: 0
    color: #ffffff
    border-radius: 15px
    padding: 0 10px