extends ./layout/structure.pug

include ./components/button.pug

block content
  #overlay.grid-overlay
  include ./components/item.pug
  include ./components/form.pug
  .product-container
  +button(class="btn-add" id="btn-add-form")
    img(src="images/icons/add.png")
  