@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i|Catamaran:100,200,300,400,500,600,700,800,900')

main_font = 'Asap', sans-serif
text_font = 'Catamaran', sans-serif

mypurple = #5600A2
mygreen = #2ECC71
mytomato = #EF5544
mywhite = #f3f3f3

*
    box-sizing border-box
    margin 0
    padding 0
header
    background #170c34
    border-bottom .375rem solid mygreen
body
    background mywhite
    font-family text_font
.grid-container
    margin 0 auto
    width 90%
.grid-row
    padding 1.875rem 0
.titles
    font-family main_font
    font-weight 500
.subtitles
    font-family text_font
    font-weight: 600
.btn
    background none
    display block

.title_default
    @extend .titles
    color mywhite
    font-size 2.125rem
.subtitle_default
    @extend .subtitles
    color mygreen
    font-size 1.075rem

// register item form
#new-item
    margin 3rem auto
    label
        color mywhite
    .input-box_name , .input-box_info
        border 0
        margin 1.5625rem 0
        input
            background none
            border 0
            border-bottom .0625rem solid #ccc
            padding .7rem .375rem
            width 100%
    .input-box_info
        select
            option
                background mywhite
    .btn-form_check
        border .125rem solid mygreen
        border-radius 3.125rem
        color mygreen
        margin 0 auto
        padding .625rem