script#template-product(type='text/template')
  .item
    .item-icon
      img(src="images/icons/milk.png")
    .item-description
      .item-row
        span.item-name $0
        sapn.item-category $1
      .item-info
        span.item-quantity $2
        //- span.item-price $3
        .item-button
          button edit
          button delete
