.navegation-container
  border: 2px solid #a9a9a9
  border-radius: 15px
  margin: 10px auto
  width: 260px
  .navegation-link
    padding: 1px 18px
    .text
      font-size: 0.8em
  .navegation-link.active
    background: #a9a9a9
    border-radius: 15px
    .text
      color: #ffffff